@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
* {
  direction: rtl;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}
section {
  width: 70%;
  margin: auto;
}
.header {
  width: 100%;
  background-color: #12376b;
  color: #fff;
  text-align: center;
  padding: 5px 0 10px 0;
  font-size: large;
  font-weight: 400;
}
.fa-star {
  padding: 0 5px 0 5px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
nav h3 {
  background-color: #f04b25;
  color: #fff;
  padding: 10px 40px;
  font-weight: 400;
  border-radius: 50px;
  margin-left: 45px;
}
nav h4 {
  color: #d12215;
  font-size: 1.1rem;
}
.sign {
  display: flex;
  align-items: center;
}
nav h5 {
  color: #12376b;
  font-size: 1.19rem;
}
